@using DemoExam.Blazor.Extensions
@using DemoExam.Blazor.Network.Endpoints
@using DemoExam.Blazor.Services.Basket
@using DemoExam.Blazor.Services.PickupPoints
@using DemoExam.Blazor.Shared.Dto.Responses
@using Arbus.Network
@using BlazorBootstrap
@using DemoExam.Blazor.Shared.Dto.Requests
@using System.Globalization
@inject IBasketService BasketService
@inject IPickupPointsService PickupPointsService
@inject IJSRuntime JsRuntime
@inject HttpClientContext ClientContext
@inject ToastService ToastsService

@if (BasketService.TotalProductsCount > 0)
{
    <button data-bs-toggle="modal" data-bs-target="#basketModal" class="btn btn-primary fab d-flex align-items-center justify-content-center">
        <i class="bi-basket" style="font-size: 35px"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @BasketService.TotalProductsCount
        </span>
    </button>
}

<div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel">
    <div class="modal-dialog">
        <div class="modal-content order-content @(_pickupPointDtos.Any() ? "" : "justify-content-center align-items-center")">
            @if (_pickupPointDtos.Any() is false)
            {
                <div class="spinner-border text-center"/>
            }
            else
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="basketModalLabel">Ваша корзина</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row justify-content-between">
                        <p>Пункт выдачи:</p>
                        <InputSelect @bind-Value="_selectedPointId" class="form-select">
                            @foreach (var point in _pickupPointDtos)
                            {
                                <option value="@point.Id">@point.Address</option>
                            }
                        </InputSelect>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Количетво</th>
                            <th>Итоговая стоимость</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var product in _products)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td class="">
                                    <AddToBasketPanel Product="product"/>
                                </td>
                                <td>@((product.PriceWithDiscount * BasketService.GetProductAmount(product)).ToString("F2"))</td>
                                <td>
                                    <button class="text-danger btn" @onclick="async () => await DeleteProduct(product)">
                                        <i class="bi-trash"/>
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2" class="fw-bold">
                                Итоговая стоимость:
                            </td>
                            <td colspan="2">
                                @_products.Sum(x => x.PriceWithDiscount * BasketService.GetProductAmount(x)).ToString("F2") руб.
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <AuthorizeView>
                        <Authorized>
                            <button class="btn btn-primary" @onclick="CreateNewOrder">Оформить</button>
                        </Authorized>
                        <NotAuthorized>
                            <button class="btn btn-primary disabled" disabled>Оформить</button>
                        </NotAuthorized>
                        
                    </AuthorizeView>
                </div>
            }
        </div>
    </div>
</div>

@code {

    private int? _selectedPointId;

    private List<PickupPoint> _pickupPointDtos = new();
    private List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        BasketService.BasketContentChanged += async () =>
        {
            if (BasketService.TotalProductsCount == 0)
                await JsRuntime.CloseModal();
            await UpdateProductsList();
            StateHasChanged();
        };
        await UpdateProductsList();
        _pickupPointDtos = await PickupPointsService.GetAll();
        _selectedPointId = _pickupPointDtos.FirstOrDefault()?.Id;
        await base.OnInitializedAsync();
    }

    private async Task UpdateProductsList()
    {
        try
        {
            _products = new();
            foreach (var (article, _) in BasketService.GetAll())
            {
                _products.Add(await ClientContext.RunEndpoint(new ProductEndpoint(article)));
            }
        }
        catch (Exception)
        {
            // ignored
        }
    }

    private Task DeleteProduct(Product product) => BasketService.RemoveProduct(product, all: true);

    private async Task CreateNewOrder()
    {
        if (_selectedPointId is null)
            return;

        await ClientContext.RunEndpoint(new NewOrderEndpoint(new NewOrder()
        {
            PickupPointId = _selectedPointId.Value,
            Products = BasketService.GetAll()
        }));
        await JsRuntime.CloseModal();
        await BasketService.Clear();
        ToastsService.Notify(new ToastMessage()
        {
            Type = ToastType.Success,
            IconName = IconName.Basket,
            HelpText = DateTime.Now.ToString(CultureInfo.CurrentCulture),
            Message = "Заказ успешно оформлен",
            Title = "Новый заказ"
        });

    }

}