@using DemoExam.Blazor.Services.Basket
@inject IBasketService BasketService

<div class="card shadow bg-body-secondary">
    <a href="/catalog/@Product.ProductArticleNumber">
        @if (Product.ProductPhoto is null)
        {
            <img class="card-img-top p-5" src="images/default_image.png" alt=""/>
        }
        else
        {
            <img class="card-img-top @Product.ProductPhoto" src="@ImageSource" alt=""/>
        }
    </a>
    <div class="card-body">
        <h5 class="card-title">@Product.ProductName</h5>
        <p class="card-text">@Product.ProductDescription</p>
        <div class="add-panel">
            <div class="card-text price d-block">@Product.ProductCost.ToString("F2") руб.</div>
            <AddToBasketPanel Product="Product"/>
        </div>
    </div>
</div>

@code {

    private string ImageSource => $"data:image/jpg;base64, {Product.ProductPhoto}";

    [Parameter]
    public ProductDto Product { get; set; } = default!;

}