@using DemoExam.Blazor.Shared.Dto.Responses
@using DemoExam.Blazor.Services.Basket
@inject IBasketService BasketService

<div class="card shadow bg-body-secondary">
    <a href="/catalog/@Product.ArticleNumber">
        @if (Product.Photo is null)
        {
            <img class="card-img-top p-5" src="images/default_image.png" alt=""/>
        }
        else
        {
            <img class="card-img-top @Product.Photo" src="@ImageSource" alt=""/>
        }
    </a>
    <div class="card-body">
        <h5 class="card-title">@Product.Name</h5>
        <p class="card-text">@Product.Description</p>
        <div class="add-panel">
            @if (Product.Price == Product.PriceWithDiscount)
            {
                <div class="card-text price">@Product.Price.ToString("F2") руб.</div>
            }
            else
            {
                <div class="d-flex flex-column">
                    <div class="card-text price-old text-decoration-line-through">@Product.Price.ToString("F2") руб.</div>
                    <div class="card-text price-new">@Product.PriceWithDiscount.ToString("F2") руб.</div>
                </div>
            }
            <AddToBasketPanel Product="Product"/>
        </div>
    </div>
</div>

@code {

    private string ImageSource => $"data:image/jpg;base64, {Product.Photo}";

    [Parameter]
    public Product Product { get; set; } = default!;

}