@using DemoExam.Blazor.Shared.Dto.Responses
<tr>
    <th scope="row">
        @Product.ArticleNumber
    </th>
    <td>@Product.Name</td>
    <td>@Product.Category</td>
    <td>@Product.Price</td>
    <td>@Product.Discount</td>
    <td>@Product.ManufacturerName</td>
    <td>@Product.SupplierName</td>
    <td>@Product.QuantityInStock</td>
    <td>
        <div class="d-flex">
            <button class="btn" @onclick="async () => await OnEditClickCallback(Product.ArticleNumber)">
                <i class="bi-pencil"></i>
            </button>
            <button class="text-danger btn" @onclick="async () => await OnDeleteClickCallback(Product.ArticleNumber)">
                <i class="bi-trash"/>
            </button>
        </div>
    </td>
</tr>

@code {

    [Parameter]
    public Product Product { get; set; } = default!;

    [Parameter]
    public Func<string, Task> OnDeleteClickCallback { get; set; } = default!;

    [Parameter]
    public Func<string, Task> OnEditClickCallback { get; set; } = default!;

}