@page "/catalog/{article}"
@using DemoExam.Blazor.Shared.Dto.Responses
@using Arbus.Network
@using DemoExam.Blazor.Services.Basket
@using DemoExam.Blazor.Network.Endpoints
@using DemoExam.Blazor.Components
@inject HttpClientContext ClientContext
@inject IBasketService BasketService

<link rel="stylesheet" href=""/>

@if (_product is null)
{
    // Show skeleton
}
else
{
    <a href="/catalog" class="btn btn-outline-info mb-2">
        <i class="bi-arrow-left"/>
        <span>Назад</span>
    </a>
    <div class="row">
        <div class="col-md">
            @if (_product.Photo is null)
            {
                <img src="images/default_image.png" alt="" class="product-image shadow rounded"/>
            }
            else
            {
                <img src="@ImageSource" alt="" class="product-image shadow rounded"/>
            }
        </div>
        <div class="col-md">
            <h1>@_product.Name</h1>
            <p>@_product.Description</p>
            <table class="table">
                <tbody>
                <tr>
                    <th>Произодитель</th>
                    <td>@_product.ManufacturerName</td>
                </tr>
                <tr>
                    <th>Категория</th>
                    <td>@_product.Category</td>
                </tr>
                <tr class="cost-row">
                    <th>Стоимость</th>
                    @if (_product.Price == _product.PriceWithDiscount)
                    {
                        <td>@_product.Price.ToString("F2") руб.</td>
                    }
                    else
                    {
                        <td>
                            <div class="d-flex flex-column">
                                <div class="price-old text-decoration-line-through">@_product.Price.ToString("F2") руб.</div>
                                <div class="price-new">@_product.PriceWithDiscount.ToString("F2") руб.</div>
                            </div>
                        </td>
                    }
                </tr>

                </tbody>
            </table>
            <AddToBasketPanel Product="_product"/>
        </div>
    </div>
    
    <Basket/>
}

@code {

    private Product? _product;
    private string ImageSource => $"data:image/jpg;base64, {_product?.Photo}";

    [Parameter]
    public string Article { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _product = await ClientContext.RunEndpoint(new ProductEndpoint(Article));
        StateHasChanged();
    }

}