@page "/catalog/{article}"
@using DemoExam.Blazor.Shared.Dto.Responses
@using Arbus.Network
@using DemoExam.Blazor.Services.Basket
@using DemoExam.Blazor.Network.Endpoints
@inject HttpClientContext ClientContext
@inject IBasketService BasketService

<link rel="stylesheet" href=""/>

@if (_product is null)
{
    // Show skeleton
}
else
{
    <a href="/catalog" class="btn btn-outline-info mb-2">
        <i class="oi oi-arrow-left"/>
        <span>Назад</span>
    </a>
    <div class="row">
        <div class="col-md">
            @if (_product.Photo is null)
            {
                <img src="images/default_image.png" alt="" class="product-image shadow rounded"/>
            }
            else
            {
                <img src="@ImageSource" alt="" class="product-image shadow rounded"/>
            }
        </div>
        <div class="col-md">
            <h1>@_product.Name</h1>
            <p>@_product.Description</p>
            <table class="table">
                <tbody>
                <tr>
                    <th>Произодитель</th>
                    <td>@_product.ManufacturerName</td>
                </tr>
                <tr>
                    <th>Категория</th>
                    <td>@_product.Category</td>
                </tr>
                <tr class="cost-row">
                    <th>Стоимость</th>
                    <td>@_product.Price.ToString("F2") руб.</td>
                </tr>

                </tbody>
            </table>
            <div class="d-flex flex-row">
                @if (BasketService.GetProductAmount(_product) > 0)
                {
                    <button class="btn btn-outline-dark rounded-circle p-0 change-amount-button"
                            @onclick="() => BasketService.RemoveProduct(_product)">
                        <i class="oi oi-minus"></i>
                    </button>
                    <p class="d-block amount-text">@BasketService.GetProductAmount(_product)</p>
                    <button class="btn btn-outline-dark rounded-circle p-0 change-amount-button"
                            @onclick="() => BasketService.AddProduct(_product)">
                        <i class="oi oi-plus"></i>
                    </button>
                }
                else
                {
                    <button class="btn btn-outline-primary" @onclick="() => BasketService.AddProduct(_product)">
                        В корзину
                    </button>
                }
            </div>
        </div>
    </div>
}

@code {

    private Product? _product;
    private string ImageSource => $"data:image/jpg;base64, {_product?.Photo}";

    [Parameter]
    public string Article { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _product = await ClientContext.RunEndpoint(new ProductEndpoint(Article));
        StateHasChanged();
    }

}